/* Loader */
.cssload-container{
    display: none;
    left: 50%;
    position: absolute;
    top: 50%;
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid rgb(204,204,204);
    border-left-color: rgb(0,0,0);
    border-radius: 974px;
    -o-border-radius: 974px;
    -ms-border-radius: 974px;
    -webkit-border-radius: 974px;
    -moz-border-radius: 974px;
}

.cssload-whirlpool {
    margin: -24px 0 0 -24px;
    height: 49px;
    width: 49px;
    animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
    content: "";
    margin: -22px 0 0 -22px;
    height: 43px;
    width: 43px;
    animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
    content: "";
    margin: -28px 0 0 -28px;
    height: 55px;
    width: 55px;
    animation: cssload-rotate 2300ms linear infinite;
    -o-animation: cssload-rotate 2300ms linear infinite;
    -ms-animation: cssload-rotate 2300ms linear infinite;
    -webkit-animation: cssload-rotate 2300ms linear infinite;
    -moz-animation: cssload-rotate 2300ms linear infinite;
}

@keyframes cssload-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-rotate {
    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-rotate {
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-rotate {
    100% {
        -moz-transform: rotate(360deg);
    }
}
/* Loader */

.show-later {
    display: none;
}
.table-bordered {
    border: 1px solid #ddd !important;
}
.report_table .table-bordered > tbody > tr > td,
.report_table .table-bordered > tbody > tr > th,
.report_table .table-bordered > tfoot > tr > td,
.report_table .table-bordered > tfoot > tr > th,
.report_table .table-bordered > thead > tr > td,
.report_table .table-bordered > thead > tr > th {
    border: 1px solid #ddd;
}
.report_table  > .table-bordered > tbody > tr > td:first-child,
.report_table  > .table-bordered > tbody > tr > th:first-child,
.report_table > .table-bordered > tfoot > tr > td:first-child,
.report_table > .table-bordered > tfoot > tr > th:first-child,
.report_table > .table-bordered > thead > tr > td:first-child,
.report_table > .table-bordered > thead > tr > th:first-child,
.report_table > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.report_table > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.report_table > .table-responsive > .table-bordered > tfoot > tr > td:first-child,
.report_table > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.report_table > .table-responsive > .table-bordered > thead > tr > td:first-child,
.report_table > .table-responsive > .table-bordered > thead > tr > th:first-child {
    border-left: 1px solid #ddd;
}
.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
    border-top: 1px solid #ddd;
}

.panel > .table-bordered > tbody > tr > td:last-child, .panel > .table-bordered > tbody > tr > th:last-child, .panel > .table-bordered > tfoot > tr > td:last-child, .panel > .table-bordered > tfoot > tr > th:last-child, .panel > .table-bordered > thead > tr > td:last-child, .panel > .table-bordered > thead > tr > th:last-child, .panel > .table-responsive > .table-bordered > tbody > tr > td:last-child, .panel > .table-responsive > .table-bordered > tbody > tr > th:last-child, .panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child, .panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child, .panel > .table-responsive > .table-bordered > thead > tr > td:last-child, .panel > .table-responsive > .table-bordered > thead > tr > th:last-child {
    border-right: 1px solid #ddd;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.view .border-right {
    border-right: 1px solid #dddddd;
}
.view .label-wrapper, .view .info-wrapper {
    padding-bottom: 10px;
    padding-top: 10px;
    float: left;
}
.view .label-wrapper {
    width: 25%;
}
.view .info-wrapper {
    padding-left: 15px;
    width: 75%;
}
.view .list-group-item {
    padding-bottom: 0;
    padding-top: 0;
}
.view .barcode-wrapper, .barcode-content-for-modal {
    display: none;
}
.view .barcode-container {
    padding: 15px 0;
}
.abs-middle {
    text-align: center;
    vertical-align: middle !important;
}
.note {
    color: #c55c18;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}